@font-face {
    font-family: 'Aller';
    src: url('fonts/aller_bdit.eot');
    src: url('fonts/aller_bdit.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_bdit.woff') format('woff'),
         url('fonts/aller_bdit.ttf') format('truetype'),
         url('fonts/aller_bdit.svg#AllerBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Aller';
    src: url('fonts/aller_bd.eot');
    src: url('fonts/aller_bd.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_bd.woff') format('woff'),
         url('fonts/aller_bd.ttf') format('truetype'),
         url('fonts/aller_bd.svg#AllerBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('fonts/aller_rg.eot');
    src: url('fonts/aller_rg.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_rg.woff') format('woff'),
         url('fonts/aller_rg.ttf') format('truetype'),
         url('fonts/aller_rg.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url('fonts/aller_it.eot');
    src: url('fonts/aller_it.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller_it.woff') format('woff'),
         url('fonts/aller_it.ttf') format('truetype'),
         url('fonts/aller_it.svg#AllerItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}